* {
  margin: 0;
  padding: 0;
  padding-left: 0px;
  padding-right: 0px;
  font-family: "Sans";
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-right: auto;
  margin-left: auto;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #ebe5e5;
}

.slider-buttonLeft {
  z-index: 5;
  position: absolute;
  left: 0;
  width: 10%;
  height: 100%;
  opacity: 0.2;
  background-color: #000000;
}

.slider-buttonRight {
  z-index: 5;
  position: absolute;
  left: 90%;
  width: 10%;
  height: 100%;
  opacity: 0.2;
  background-color: #000000;
}

.slider-body {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: #ebe5e5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
}

.slider-img {
  position: relative;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
}

.slider-imgContainer {
  background-color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-imgInLine {
  display: block;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: auto;
  float: left;
}

.FoodSection-container {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #ebe5e5;
}

.FoodSection-body {
  position: absolute;
  width: 80%;
  height: 300px;
  top: 50%;
  left: 50%;
  background-color: #dbd4d4;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Row-items-container {
  height: 100%;
}

.FoodSection-content {
  overflow: hidden;
  background-color: #c9c9c9;
}

.FoodSection-item {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  float: left;
  width: 220px;
  height: 80%;
  background-color: #e0e0e0;
  border: grey solid 1px;
}

.FoodSection-itemsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: auto;
  float: left;
  overflow: hidden;
}

.FoodSection-item-src {
  position: absolute;
  width: 100%;
  height: 100%;
}

.FoodSection-item-imgIcon {
  position: absolute;
  background-color: #beb8b8;
  width: 80%;
  height: 40%;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: grey solid 3px;
}

.FoodSection-item-name {
  position: absolute;
  border-radius: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #beb8b8;
}

.FoodSection-item-description {
  border-radius: 8px;
  position: absolute;
  height: 20%;
  width: 100%;
  top: 60%;
  background-color: #beb8b8;
}

.FoodSection-item-price {
  border-radius: 8px;
  position: absolute;
  top: 90%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #beb8b8;
}

.FoodSection-item-addToCheckout {
  font-size: 24px;
  border-radius: 24px;
  position: absolute;
  height: 20%;
  width: 40%;
  top: 80%;
  left: 60%;
  border: 0;
  background-color: #797979;
}

.FoodSection-item-addToCheckout:active {
  background-color: #beb8b8;
}

.FoodSection-buttonLeft {
  background-color: #857a7a;
}

.FoodSection-buttonRight {
  background-color: #857a7a;
}

.FoodSection-moreButton {
  position: absolute;
  left: 35%;
  top: 5%;
  width: 100px;
  border-radius: 24px;
  background-color: #ec7070;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.FoodSection-moreButton:hover {
  background-color: red;
}

.FoodSection-moreButton-a {
  display: block;
  text-decoration: none;
  color: black;
}

.FoodSection-moreButton-a:hover {
  color: black;
}

.priceList-body {
  border: 8px solid #c2c2c2;
  position: relative;
  border-radius: 8px;
  background-color: #bbb8b8;
  height: 100%;
  min-width: 100%;
  width: auto;
}

.priceList-itemsContainer {
  position: relative;
  width: 80%;
  height: 100%;
  left: 10%;
  background-color: #777474;
}

.orderInformation-input {
  position: relative;
  width: 178px;
  height: 28px;
  left: calc(50% - (178px / 2));
  top: calc(50% - (28px / 2));
}

.orderInformation-input-dropMenu {
  position: absolute;
  top: 100%;
  min-height: auto;
  max-height: 130px;
  width: 100%;
  background-color: #d8d8d8;
  overflow-y: scroll;
  z-index: 3;
}

.orderInformation-input-dropMenu-item {
  border-top: 2px solid #474747;
  text-align: center;
  font-size: 24px;
  height: 40px;
  width: 100%;
}

.orderInformation-inputsForDropMenu {
  position: relative;
  width: 178px;
  top: calc(50% - (28px / 2));
}

.orderInformation-inputContainer {
  position: relative;
  width: 50%;
  height: 80px;
  background-color: #bbb8b8;
  display: inline-block;
}

.orderInformation-inputContainerForDropMenu {
  position: relative;
  width: 50%;
  height: 80px;
  background-color: f1eeee;
  float: left;
}

.orderInformation-container {
  border: 8px solid #c2c2c2;
  border-radius: 8px;
  background-color: #e7e7e7;
  padding: 0;
  position: relative;
}

.orderInformation-dropZone-container {
  position: relative;
  top: calc(50% - (28px / 2));
  left: calc(50% - (178px / 2));
  width: 178px;
}

.priceList-container {
  padding: 0;
}

.orderItem {
  position: relative;
  background-color: #acacac;
  height: 120px;
  width: 100%;
  border-radius: 24px;
  border: 4px solid #1f1f1f;
  overflow: hidden;
}

.orderItem-showAll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #c47676;
  border-radius: 8px;
  height: 100px;
  width: 100%;
  font-size: 24px;
}

.orderItem-imgContainer {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid black;
  border-radius: 8px;
  height: 90%;
  width: 40%;
  left: 22%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.orderItem-img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.orderItem-cancel-button {
  position: relative;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 20%;
  left: 93%;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  background-color: #7c7c7c;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}

.orderItem-cancel-button:hover {
  background-color: #e72626;
}

.orderItem-price {
  position: absolute;
  top: 65%;
  left: 65%;
  height: 35%;
  width: 35%;
  background-color: #7c7c7c;
}

.orderItem-description {
  position: absolute;
  left: 42%;
  top: 0px;
  height: 60%;
  width: 40%;
  background-color: #7c7c7c;
}

.orderInformation-body {
  border: 8px solid #c2c2c2;
  border-radius: 8px;
  background-color: #e7e7e7;
  padding: 0;
  position: relative;
  padding-right: 0;
  height: auto;
  width: 100%;
}

.orderInformation-payment-dropMenu {
  top: 100%;
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}

.orderInformation-payment-showPayment {
  position: relative;
  top: calc(50% - (32px / 2));
  z-index: 2;
  left: calc(50% - (20% / 2));
  width: 20%;
  height: auto;
  background-color: whitesmoke;
  border: 4px solid silver;
}

.orderInformation-selectDay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.orderInformation-checkout-totalCount {
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 48px;
  font-family: Open Sans, sans-serif;
}

.orderInformation-checkout-button {
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  height: 80px;
  width: 160px;
  background-color: #e31837;
  color: #fff;
  font-size: 30px;
  font-family: Open Sans, sans-serif;
  border: 0;
  border-radius: 32px;
}

.orderInformation-checkout-button:active {
  background-color: #f7082c;
}

.orderInformation-checkout-container {
  position: relative;
  height: 120px;
  width: 100%;
  background-color: #bbb8b8;
}

.orderInformation-coupon {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.orderInformation-payment-commentContainer {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #bbb8b8;
  float: left;
}

.orderInformation-payment-comment {
  position: relative;
  top: 50%;
  left: 10%;
  height: 90%;
  width: 40%;
  resize: none;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.orderInformation-headlines-contacts {
  height: 40px;
  float: left;
  position: relative;
  width: 100%;
  background-color: #727272;
}

.orderInformation-items {
  position: relative;
  height: 40%;
  width: 100%;
}

.orderInformation-commentContainer {
  position: relative;
  width: 50%;
  height: 20%;
  background-color: blueviolet;
  float: left;
}

.orderInformation-form {
  position: absolute;
}

.orderInformation-input {
  position: relative;
  width: 178px;
  height: 28px;
  left: calc(50% - (178px / 2));
  top: calc(50% - (28px / 2));
}

.morePage-contaiten {
  position: relative;
  width: 100%;
  background-color: #ebe5e5;
}

.morePage-items {
  position: relative;
  background-color: #9b9b9b;
  left: 10%;
  height: auto;
  width: 80%;
  text-align: center;
  margin-bottom: 100px;
}

.morePage-item-container {
  position: relative;
  height: 300px;
  width: 240px;
  display: inline-block;
  background-color: #dddddd;
  margin-top: 4%;
  margin-left: 4%;
  margin-right: 4%;
}

.morePage-item-imgContainer {
  position: absolute;
  left: 50%;
  top: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  height: 40%;
  width: 80%;
  border: black solid 5px;
}

.morePage-item-img {
  left: 0px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.morePage-item-name {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 5%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.morePage-item-description {
  border-radius: 16px;
  position: absolute;
  top: 55%;
  left: 50%;
  height: 30%;
  width: 90%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background-color: #beb8b8;
}

.morePage-item-price {
  border-radius: 16px;
  position: absolute;
  top: 90%;
  height: 10%;
  width: 45%;
  background-color: #beb8b8;
}

.morePage-item-addButton {
  border-radius: 16px;
  position: absolute;
  top: 85%;
  left: 50%;
  height: 15%;
  width: 50%;
  background-color: #797979;
}

.morePage-item-addButton:active {
  background-color: #beb8b8;
}
/*# sourceMappingURL=App.css.map */